$primary-600: #663a7f;
$primary-500: #967BA6;
$primary-400: #CBC0D3;
$primary-300: #E6E1EA;
$secondary-500: #5F7470;
$secondary-400: #CDD1BF;
$secondary-300: #E8EAD9;
$tertiary-500: #D6CCC2;
$tertiary-400: #F3EDDE;
$tertiary-300: #FAF6EC;
$neutrals-white: #FFFFFF;
$neutrals-gray-50: #f4f4f4;
$neutrals-gray-700: #333333;
$neutrals-black: #000000;