.secundario{
    background-color: $primary-300;
    padding: 30px;
    border: 40px;
    text-align: center;
    h3{
        color: $primary-600;
    }
    .logo-central{
        padding: 20px;
    }
}
